body{
  font-family: monospace;
  color: darkred;
  line-height: 17px;
  padding: 3px;
  background-color: rgb(236, 224, 213);
}
div > h1 > strong{
    border-bottom: 2px solid darkred;
}
table{
    border: 3px dashed darkred;
}
th{
    font-size: larger;
    padding: 5px;
}
td{
    padding: 5px;
}
span{
    border-bottom: 2px solid darkred;
}
caption{
  font-size: 22px;
}
