body{
    background-color: #c5e2e9;
    display: grid;
    justify-content: center;
    grid-gap: auto;
    grid-template-columns: auto;
    grid-template-areas: "head" "contactinfo" "socials";
}
header {
   grid-area: head;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    margin-right: 20px;
    letter-spacing: 3px;
    text-align: center;
}
p{
    font-family: sans-serif;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{
    border-radius: 50px;
    border: 2px solid #627174;
    padding: 50px;
    width: 200px;
    height: 150px;
}
.division{
    display: inline-block;
    border: 1px none;
    padding: 1rem 1rem;
}
#contactinfo {
    grid-area: contactinfo;
}
#socials {
    grid-area: socials;
}
