body{
    background-color: #c5e2e9;
    display: grid;
    justify-content: center;
    grid-gap: 5px 50px;
    grid-template-columns: auto;
    grid-template-areas: "head" "contactinfo" "socials";
}
header {
   grid-area: head;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    margin-right: 20px;
    letter-spacing: 3px;
    text-align: center;
}
p{
    font-family: sans-serif;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    type: circle;
}
section{
    border-radius: 50px;
    border: 2px solid #627174;
    padding: 30px;
    width: auto;
    height: auto;
}

.float-container {
    display: flex;
    border: 3px solid #c5e2e9;
    padding: 20px;
    }
.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid #c5e2e9;
    flex: 1;
    margin-right: 20px;
    }
#education, #skills, #experience{
    width: auto;
    height: auto;
}
/* tablets */   
@media all and (min-width: 600px) {
   body {
      grid-template-columns: auto auto;
      grid-template-areas: 
         "head head" 
         "members concerts" 
         "members contact";
   }
}

/* desktop */
@media all and (min-width: 800px)

/* mobile phones */
@media all and (min-width: 300px)
