body{
    color: #013c65;
    line-height: 17px;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-family:fantasy;
    letter-spacing: 2.5px;
    text-align: center;
}
h3 {
    text-align: center;
}
img {
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 150px;
}