body{
    font-family: 'Courier New', Courier, monospace;
    color: darkred;
    line-height: 17px;
    text-align: center;
    padding: 3px;
    background-color: rgb(236, 224, 213);
}
h1{
    border-bottom:2px solid darkred;
}
table{
    border: 3px dashed darkred;
}
th{
    font-size: larger;

}
td{
    padding: 5px;
}
span{
    border-color: darkred;
    border-bottom: 2px solid darkred;
}
.c1{
    border-right: 2px dashed darkred;
}